@{
    ViewData["Title"] = "Demo for Element Caching";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>The Current Time Is @DateTime.Now - Uncached</h2>
</div>

<distributed-cache name="Time-Demo" expires-after="@TimeSpan.FromSeconds(30)">
    <h2>The Current Time Is @DateTime.Now - This is a cached element</h2>
</distributed-cache>